.homepage-nav {
    margin-left: 300px;
    font-size: 200%;

}

img {
    margin-left: 100px;
    width: 80vw;
}

h1 {
    font-size: %;
    margin-left: 455px;
}

body {
    background-color: deepskyblue
}

a:visited {
    color: #cccccc;
}

a:hover {
    color: #ffffff;
}

h2 {

}

p {
   
}

/* Sections for the 'Data' tab */

.ValComp{
    display: inline-block;
}
.pies ul{
    list-style: none;
}
.pieb{
    list-style: disc;
}
.pie {
 
display: inline-block;
}

h3 {
    float: right;
}

h4 {
    font-size: 200%;
    text-decoration: underline;
}

li {
    
}

h5 {
    font-size: 200%;
    margin-left: 550px;
    text-decoration: underline;
}

