.homepage-nav
{
    margin-left: 300px;
    font-size: 200%;
    
}
img {
    margin-left: 100px;
       width: 80vw;
}

h1 {
    font-size: 300%;
    margin-left: 455px;
}

body {
    background-color: deepskyblue
     
}

data {
    
}
